USE [master]
GO
/****** Object:  Database [KadroviTX]    Script Date: 4/13/2021 1:00:18 PM ******/
CREATE DATABASE [KadroviTX]
 CONTAINMENT = NONE


GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KadroviTX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KadroviTX]
GO
/****** Object:  Table [dbo].[ANGAZOVANJE]    Script Date: 4/13/2021 1:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANGAZOVANJE](
	[SIFRAZAP] [numeric](7, 0) NOT NULL,
	[SIFRARM] [numeric](7, 0) NOT NULL,
	[DATOD] [datetime] NOT NULL,
	[DATDO] [datetime] NULL,
	[SIFRARS] [numeric](7, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SIFRAZAP] ASC,
	[SIFRARM] ASC,
	[DATOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBRAZOVNI_PROFIL]    Script Date: 4/13/2021 1:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBRAZOVNI_PROFIL](
	[SIFRAPROF] [numeric](7, 0) NOT NULL,
	[STEPENSTRUCNESPREME] [varchar](20) NULL,
	[NAZIVPROF] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SIFRAPROF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ODELJENJE]    Script Date: 4/13/2021 1:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ODELJENJE](
	[SIFRAODELJ] [numeric](7, 0) NOT NULL,
	[NAZIVODELJ] [varchar](20) NULL,
	[GRAD] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SIFRAODELJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RADNI_STATUS]    Script Date: 4/13/2021 1:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RADNI_STATUS](
	[SIFRARS] [numeric](7, 0) NOT NULL,
	[NAZIVRS] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SIFRARS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RADNIK]    Script Date: 4/13/2021 1:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RADNIK](
	[SIFRAZAP] [numeric](7, 0) NOT NULL,
	[IME] [varchar](20) NULL,
	[PREZIME] [varchar](20) NULL,
	[MLB] [numeric](13, 0) NULL,
	[DATRODJ] [datetime] NULL,
	[POL] [varchar](5) NULL,
	[PLATA] [numeric](10, 0) NULL,
	[PREMIJA] [numeric](10, 0) NULL,
	[DATZAP] [datetime] NULL,
	[SIFRAPROF] [numeric](7, 0) NULL,
	[SIFRAODELJ] [numeric](7, 0) NULL,
	[SIFRARUKOV] [numeric](7, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SIFRAZAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RADNO_MESTO]    Script Date: 4/13/2021 1:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RADNO_MESTO](
	[SIFRARM] [numeric](7, 0) NOT NULL,
	[NAZIVRM] [varchar](20) NULL,
	[SIFRAPROF] [numeric](7, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SIFRARM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ANGAZOVANJE] ([SIFRAZAP], [SIFRARM], [DATOD], [DATDO], [SIFRARS]) VALUES (CAST(1 AS Numeric(7, 0)), CAST(111 AS Numeric(7, 0)), CAST(N'2007-08-01T00:00:00.000' AS DateTime), NULL, CAST(44 AS Numeric(7, 0)))
INSERT [dbo].[ANGAZOVANJE] ([SIFRAZAP], [SIFRARM], [DATOD], [DATDO], [SIFRARS]) VALUES (CAST(1 AS Numeric(7, 0)), CAST(222 AS Numeric(7, 0)), CAST(N'2001-08-01T00:00:00.000' AS DateTime), CAST(N'2003-07-31T00:00:00.000' AS DateTime), CAST(33 AS Numeric(7, 0)))
INSERT [dbo].[ANGAZOVANJE] ([SIFRAZAP], [SIFRARM], [DATOD], [DATDO], [SIFRARS]) VALUES (CAST(1 AS Numeric(7, 0)), CAST(444 AS Numeric(7, 0)), CAST(N'2000-04-23T00:00:00.000' AS DateTime), CAST(N'2001-07-31T00:00:00.000' AS DateTime), CAST(22 AS Numeric(7, 0)))
GO
INSERT [dbo].[OBRAZOVNI_PROFIL] ([SIFRAPROF], [STEPENSTRUCNESPREME], [NAZIVPROF]) VALUES (CAST(100 AS Numeric(7, 0)), N'V', N'Srednja SS')
INSERT [dbo].[OBRAZOVNI_PROFIL] ([SIFRAPROF], [STEPENSTRUCNESPREME], [NAZIVPROF]) VALUES (CAST(200 AS Numeric(7, 0)), N'VI', N'Visa SS')
INSERT [dbo].[OBRAZOVNI_PROFIL] ([SIFRAPROF], [STEPENSTRUCNESPREME], [NAZIVPROF]) VALUES (CAST(300 AS Numeric(7, 0)), N'VII', N'Visoka SS')
GO
INSERT [dbo].[ODELJENJE] ([SIFRAODELJ], [NAZIVODELJ], [GRAD]) VALUES (CAST(10 AS Numeric(7, 0)), N'Projektovanje', N'Beograd')
INSERT [dbo].[ODELJENJE] ([SIFRAODELJ], [NAZIVODELJ], [GRAD]) VALUES (CAST(20 AS Numeric(7, 0)), N'Programiranje', N'Beograd')
INSERT [dbo].[ODELJENJE] ([SIFRAODELJ], [NAZIVODELJ], [GRAD]) VALUES (CAST(30 AS Numeric(7, 0)), N'Finansije', N'Beograd')
GO
INSERT [dbo].[RADNI_STATUS] ([SIFRARS], [NAZIVRS]) VALUES (CAST(11 AS Numeric(7, 0)), N'probni rad')
INSERT [dbo].[RADNI_STATUS] ([SIFRARS], [NAZIVRS]) VALUES (CAST(22 AS Numeric(7, 0)), N'pripravnicki staz')
INSERT [dbo].[RADNI_STATUS] ([SIFRARS], [NAZIVRS]) VALUES (CAST(33 AS Numeric(7, 0)), N'ugovor na odredjeno vreme')
GO
INSERT [dbo].[RADNIK] ([SIFRAZAP], [IME], [PREZIME], [MLB], [DATRODJ], [POL], [PLATA], [PREMIJA], [DATZAP], [SIFRAPROF], [SIFRAODELJ], [SIFRARUKOV]) VALUES (CAST(1 AS Numeric(7, 0)), N'Marko', N'Marakovic', CAST(1234567890123 AS Numeric(13, 0)), CAST(N'1956-12-12T00:00:00.000' AS DateTime), N'M', CAST(60000 AS Numeric(10, 0)), CAST(3000 AS Numeric(10, 0)), CAST(N'2000-04-23T00:00:00.000' AS DateTime), CAST(300 AS Numeric(7, 0)), CAST(10 AS Numeric(7, 0)), NULL)
INSERT [dbo].[RADNIK] ([SIFRAZAP], [IME], [PREZIME], [MLB], [DATRODJ], [POL], [PLATA], [PREMIJA], [DATZAP], [SIFRAPROF], [SIFRAODELJ], [SIFRARUKOV]) VALUES (CAST(2 AS Numeric(7, 0)), N'Janko', N'Jankovic', CAST(101928374657 AS Numeric(13, 0)), CAST(N'1978-05-24T00:00:00.000' AS DateTime), N'M', CAST(50000 AS Numeric(10, 0)), CAST(1000 AS Numeric(10, 0)), CAST(N'2000-07-12T00:00:00.000' AS DateTime), CAST(300 AS Numeric(7, 0)), CAST(20 AS Numeric(7, 0)), CAST(1 AS Numeric(7, 0)))
INSERT [dbo].[RADNIK] ([SIFRAZAP], [IME], [PREZIME], [MLB], [DATRODJ], [POL], [PLATA], [PREMIJA], [DATZAP], [SIFRAPROF], [SIFRAODELJ], [SIFRARUKOV]) VALUES (CAST(3 AS Numeric(7, 0)), N'Svetozar', N'Cvetkovic', CAST(2345678912345 AS Numeric(13, 0)), CAST(N'1967-01-12T00:00:00.000' AS DateTime), N'M', CAST(45000 AS Numeric(10, 0)), CAST(2000 AS Numeric(10, 0)), CAST(N'2001-06-30T00:00:00.000' AS DateTime), CAST(200 AS Numeric(7, 0)), CAST(10 AS Numeric(7, 0)), CAST(1 AS Numeric(7, 0)))
GO
INSERT [dbo].[RADNO_MESTO] ([SIFRARM], [NAZIVRM], [SIFRAPROF]) VALUES (CAST(111 AS Numeric(7, 0)), N'Projektant', CAST(300 AS Numeric(7, 0)))
INSERT [dbo].[RADNO_MESTO] ([SIFRARM], [NAZIVRM], [SIFRAPROF]) VALUES (CAST(222 AS Numeric(7, 0)), N'Programer', CAST(300 AS Numeric(7, 0)))
INSERT [dbo].[RADNO_MESTO] ([SIFRARM], [NAZIVRM], [SIFRAPROF]) VALUES (CAST(333 AS Numeric(7, 0)), N'Sekretarica', CAST(100 AS Numeric(7, 0)))
GO
ALTER TABLE [dbo].[ANGAZOVANJE]  WITH CHECK ADD FOREIGN KEY([SIFRAZAP])
REFERENCES [dbo].[RADNIK] ([SIFRAZAP])
GO
ALTER TABLE [dbo].[ANGAZOVANJE]  WITH CHECK ADD FOREIGN KEY([SIFRARM])
REFERENCES [dbo].[RADNO_MESTO] ([SIFRARM])
GO
ALTER TABLE [dbo].[ANGAZOVANJE]  WITH CHECK ADD FOREIGN KEY([SIFRARS])
REFERENCES [dbo].[RADNI_STATUS] ([SIFRARS])
GO
ALTER TABLE [dbo].[RADNIK]  WITH CHECK ADD FOREIGN KEY([SIFRAODELJ])
REFERENCES [dbo].[ODELJENJE] ([SIFRAODELJ])
GO
ALTER TABLE [dbo].[RADNIK]  WITH CHECK ADD FOREIGN KEY([SIFRAPROF])
REFERENCES [dbo].[OBRAZOVNI_PROFIL] ([SIFRAPROF])
GO
ALTER TABLE [dbo].[RADNIK]  WITH CHECK ADD FOREIGN KEY([SIFRARUKOV])
REFERENCES [dbo].[RADNIK] ([SIFRAZAP])
GO
ALTER TABLE [dbo].[RADNO_MESTO]  WITH CHECK ADD FOREIGN KEY([SIFRAPROF])
REFERENCES [dbo].[OBRAZOVNI_PROFIL] ([SIFRAPROF])
GO
ALTER TABLE [dbo].[OBRAZOVNI_PROFIL]  WITH CHECK ADD  CONSTRAINT [OP] CHECK  (([stepenstrucnespreme]='VII' OR [stepenstrucnespreme]='VI' OR [stepenstrucnespreme]='V'))
GO
ALTER TABLE [dbo].[OBRAZOVNI_PROFIL] CHECK CONSTRAINT [OP]
GO
ALTER TABLE [dbo].[RADNI_STATUS]  WITH CHECK ADD  CONSTRAINT [RS] CHECK  (([nazivrs]='ugovor o delu' OR [nazivrs]='ugovor na neodredjeno vreme' OR [nazivrs]='ugovor na odredjeno vreme' OR [nazivrs]='pripravnicki staz' OR [nazivrs]='probni rad'))
GO
ALTER TABLE [dbo].[RADNI_STATUS] CHECK CONSTRAINT [RS]
GO
ALTER TABLE [dbo].[RADNIK]  WITH CHECK ADD  CONSTRAINT [ZP] CHECK  (([pol]='Z' OR [pol]='M'))
GO
ALTER TABLE [dbo].[RADNIK] CHECK CONSTRAINT [ZP]
GO
USE [master]
GO
